<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : manageable_page_title %></title>
  <%= stylesheet_link_tag "manageable.css", :media => "screen" %>
  <%= csrf_meta_tag %>
  <%= manageable_head %>
</head>

<body>
  <div id="container">
    <div id="wrapper" class="wat-cf">
      <div id="<%= manageable_sidebar.present? ? 'main' : 'full-main' %>">
        <div id="box">
          <div class="flash">
            <% [ :warning, :notice, :error ].each do |f| -%>
              <%= content_tag("div", "<p>#{flash[f]}</p>".html_safe, :class => "message #{f}") unless flash[f].nil? %>
            <% end %>
          </div>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'manageable.js' %>
</body>
</html>
