<%= manageable_content_box do |box| %>
  <%= box.navigation do |nav| %>
    <%= render "index_navigation", :nav => nav %>
  <% end %>

  <%= render "index_header", :resource_class => resource_class, :collection => collection %>

  <table class="table">
    <thead>
      <tr>
        <th><%= manageable_sortable :id, resource_class.human_attribute_name(:id) %></th>
        <%= render "index_headers" %>
        <th><%= manageable_sortable :created_at, resource_class.human_attribute_name(:created_at) %></th>
        <th><%= manageable_sortable :updated_at, resource_class.human_attribute_name(:updated_at) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% collection.each_with_index do |resource, index| %>
        <tr class="<%= index % 2 == 0 ? 'odd' : 'even' %>">
          <td><%= resource.id %></td>
          <%= render "index_rows", :resource => resource %>
          <td><%= l(resource.created_at, :format => :short) %></td>
          <td><%= l(resource.updated_at, :format => :short) %></td>
          <td><%= render "index_actions", :resource => resource %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "index_pagination" %>

  <div class="wat-cf"></div>

<% end %>