<%= manageable_content_box do |box| %>
  <%= box.navigation do |nav| %>
    <%= render "readonly_form_navigation", :nav => nav %>
  <% end %>
  <%= box.controls do |control| %>
    <%= render "readonly_form_controls", :control => control %>
  <% end %>
  <%= manageable_attributes(resource) do |attr| %>
    <h3 class="title"><%= resource_class.model_name.human.titleize %></h3>
    <%= render "readonly_form_fields", :attr => attr %>
    <div class="clear"></div>
  <% end %>
<% end %>